* {
  box-sizing: border-box;
}
.cardcontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(120, 190, 40, 0.993);
}

.card {
  height: 300px;
  width: 33.333%;
  /* border: 1px solid black; */
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card > img {
  width: 95%;
  height: 80%;
  /* object-fit: cover; */
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 2px 0.5px gray;
}
.card > p {
  color: black;
  font-size: 1.6rem;
  align-self: center;
  margin-bottom: 1rem;
}
